body {
    background-color: beige;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0px, 0px, 12px, 0px;
    padding: 0px, 20px;
    box-sizing: border-box;
}

.img-article-container span {
    display: inline-block;
    width: 50%;
}

nav {
    margin: 0px, 20px;
    
    

}

nav a {
    margin: 0px, 10px;
    color: white;
    font-weight: bold;
    display: flex;
    


}

#site-title {
    text-align: center;

}

.navbuttons {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
}

.img-article-container {
    display: flex ;
    margin-top: 10px;
    margin-right: 10px;
    
}

.img-article-container img {
    margin-right: 10px;
}

.img-article-container h2 {
    margin-top: auto;
}

#interests {
    display: flex;
    
}